<header>
  <div class="container">
    <div class="row">
      <div class="col-md-1 col-sm-2 col-xs-2 logo">
        <a href="<%= rootPath() %>"><img src="<%= rootPath() %>assets/images/logo.svg" alt=""></a>
      </div>
      <div class="col-md-9 col-sm-9 col-xs-10 titles">
        <h1><%= t("welcome_greeting") %> [v0.11.0]</h1>
      </div>

    </div>
  </div>

</header>

<div class="row">
  <div class="col-md-12">
    <div class="subtitle">
      <div class="container">

      </div>
    </div>
    <div class="">


    </div>
  </div>
</div>

<div class="foot">
    <span> Powered by <a href="http://gobuffalo.io/">gobuffalo.io</a></span>
</div>
