header {
    text-align: center;
    border-bottom: solid 1px black;

    .title {
        font-family: 'Saira', sans-serif;
        font-size: 6rem;
    }

    .subtitle {
        font-family: 'Sedgwick Ave', cursive;
        font-size: 2rem;
    }

    .language-switch {
        float: right;

        &__option {
            float: left;
            width: 50%;
            padding: .5rem;
            cursor: pointer;
        }
    }
}

footer {
    border-top: solid 1px black;
    margin-top: 1rem;
}
